html,body {
    margin: 0;
    padding: 0;
    line-height: 0;
    min-height: 1px;
    font-size: 15px;
    background: #11131b !important;
    background-color: #11131b !important;
    color:#fff !important;
}

button {
    background: #b8ee5b;
    outline: none;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
  
button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
}

input[type="text"] {
    padding: 10px;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid silver;
}

p.form-item span {
    font-size: 15px;
}

.wrapper{
    padding: 20px;
}


button#changeColor {
    width: 100%;
    border-radius: 0px;
    background: #fff !important;
}

.plugin-menu {
    height: 200px;
    width: 171px;
}

button#changeColor:hover {
    background: #b8ee5b !important;
}

input.form-control {
    background: #000000;
    border-color: #000;
    border-width: 2px;
}

input.form-control:focus {
    border-color: #28a745;
    background: inherit;
    outline: none;
    box-shadow: none;
    color: #fff;
}