html,body {
    margin: 0;
    padding: 0;
    line-height: 0;
    min-height: 1px;
    font-size: 15px;
    background: #fff;
    color:#11131b;
}

.plugin-menu {
    width: 200px;
    margin: 0px;
    display: flex;
    background: url(crow-bede.png) no-repeat center top;
    background-size: 80%;
}

.nav-block {
    width: 100%;
    margin-top: 125px;
    padding-bottom: 15px;
}

.nav-block button, .nav-block a {
    background-color: #fdc25b;  
    border:2px solid #fdc25b !important;
    border-radius: 6px;
    color: #212529;
    padding: 6px 5px; 
    width: 90%;
    margin-left:5%;
    text-decoration: none;
    margin-bottom: 5px;
}

.nav-block button:hover, .nav-block a:hover {
    cursor: pointer;
    color: #212529;
    background-color: #ffce81;
    border-color: #ffce81;
}